@charset "UTF-8";
.call__content-text {
  font-family: "Dosis-Light";
  font-weight: 300;
}

.services__item-text {
  font-family: "Dosis-Medium";
  font-weight: 500;
}

.slider__descr, .title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.item__menu, .slider__author, .news__item-text, .project__item-link, .services__item-link, .services__item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

.call__content-btn, .call__content-title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.services__text, .services__descr, .services__title {
  font-family: "Roboto-Regular";
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Roboto-Medium.woff2) format(woff2), url(../fonts/Roboto-Medium.woff) format(woff);
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/RobotoCondensed-Bold.woff) format(woff), url(../fonts/RobotoCondensed-Bold.woff2) format(woff2);
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/RobotoCondensed-Regular.woff2) format(woff2), url(../fonts/RobotoCondensed-Regular.woff) format(woff);
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Dosis-Medium.woff) format(woff), url(../fonts/Dosis-Medium.woff2) format(woff2);
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Dosis-Light.woff2) format(woff2), url(../fonts/Dosis-Light.woff) format(woff);
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto-Regular.woff2) format(woff2), url(../fonts/Roboto-Regular.woff) format(woff);
}
.call__content-text {
  font-family: "Dosis-Light";
  font-weight: 300;
}

.services__item-text {
  font-family: "Dosis-Medium";
  font-weight: 500;
}

.slider__descr, .title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.item__menu, .slider__author, .news__item-text, .project__item-link, .services__item-link, .services__item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

.call__content-btn, .call__content-title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.services__text, .services__descr, .services__title {
  font-family: "Roboto-Regular";
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Roboto-Medium.woff2) format(woff2), url(../fonts/Roboto-Medium.woff) format(woff);
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/RobotoCondensed-Bold.woff) format(woff), url(../fonts/RobotoCondensed-Bold.woff2) format(woff2);
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/RobotoCondensed-Regular.woff2) format(woff2), url(../fonts/RobotoCondensed-Regular.woff) format(woff);
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Dosis-Medium.woff) format(woff), url(../fonts/Dosis-Medium.woff2) format(woff2);
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Dosis-Light.woff2) format(woff2), url(../fonts/Dosis-Light.woff) format(woff);
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto-Regular.woff2) format(woff2), url(../fonts/Roboto-Regular.woff) format(woff);
}
body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9B9B9B;
}

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.title {
  font-size: 24px;
  line-height: 28px;
  color: #2d3a58;
  position: relative;
  padding-bottom: 28px;
}
.title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #2d3a58;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.header {
  background-color: #2d3a58;
}
.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}
.logo__link {
  margin-left: 8px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0px;
  }
}
.menu__btn {
  width: 40px;
  height: 40px;
  background: #F9F6E5;
  border-radius: 3px;
  border: none;
  position: relative;
}
.menu__btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2d3a58;
  top: 14px;
  left: 12px;
  -webkit-box-shadow: 0 4px 0 0 #2d3a58, 0 8px 0 0 #2d3a58;
          box-shadow: 0 4px 0 0 #2d3a58, 0 8px 0 0 #2d3a58;
}

@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
}
.img-1 {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: revert;
  min-height: 193px;
}

.img-2 {
  background-image: url(../images/bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 193px;
}

.img-3 {
  background-image: url(../images/bg-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 193px;
  -webkit-box-shadow: 6px 9px 7px 0px #4A4A4A;
          box-shadow: 6px 9px 7px 0px #4A4A4A;
}

@media (min-width: 640px) {
  .head {
    min-height: 386px;
  }
}
.top__slider {
  background: rgba(99, 33, 33, 0.5);
  min-height: 193px;
}
.top__slider-item {
  color: #F9F6E5;
  text-align: center;
}
.top__slider-title {
  line-height: 28px;
  font-size: 47px;
  text-transform: uppercase;
  padding: 36px 0 28px;
  max-width: 243px;
  margin: 0 auto;
  position: relative;
}
.top__slider-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  width: 61px;
  background-color: #F9F6E5;
  margin: 0 auto;
}
.top__slider-descr {
  display: none;
}
.top__slider-btn {
  display: none;
}
.top__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  cursor: pointer;
}
.top__slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #2d3a58;
}
.top__slider .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #F9F6E5;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .top__slider-item {
    min-height: 386px;
  }
  .top__slider-title {
    max-width: 520px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin-bottom: 30px;
  }
  .top__slider-btn {
    display: inline-block;
    margin: 0 auto 113px;
    font-size: 18px;
    line-height: 18px;
    padding: 16px 45px;
    background-color: #2d3a58;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    color: #F9F6E5;
  }
  .top__slider .slick-dots {
    bottom: 50px;
  }
  .top__slider .slick-arrow {
    width: 56px;
    height: 56px;
    position: absolute;
    border: none;
    right: 0;
    z-index: 5;
  }
  .top__slider .slick-prev {
    top: calc(50% - 56px);
    background-color: #2d3a58;
  }
  .top__slider .slick-next {
    bottom: calc(50% - 56px);
    background-color: #F9F6E5;
  }
}
@media (min-width: 768px) {
  .top__slider-item {
    min-height: 465px;
  }
  .top__slider-title {
    padding: 87px 0 0;
    margin: 0 auto 0;
  }
  .top__slider-title::after {
    display: none;
  }
  .top__slider-descr {
    max-width: 689px;
    padding: 25px 0 32px;
    display: block;
    margin: 0 auto;
    font-family: "RobotoCondensed-Regular";
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    display: block;
  }
}
@media (min-width: 1024px) {
  .top__slider-item {
    min-height: 618px;
  }
  .top__slider-title {
    padding: 101px 0 0;
    line-height: 84px;
    font-size: 89px;
  }
  .top__slider .slick-dots {
    bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .top__slider-item {
    min-height: 668px;
  }
  .top__slider-title {
    padding: 108px 0 0;
    font-size: 81px;
    line-height: 96px;
    color: #2d3a58;
  }
  .top__slider-descr {
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }
  .top__slider .slick-arrow {
    width: 45px;
    height: 76px;
  }
  .top__slider .slick-prev {
    top: calc(60% - 70px);
  }
  .top__slider .slick-next {
    bottom: calc(60% - 70px);
  }
}
.call {
  background-color: #2d3a58;
  padding: 40px 0;
  text-align: center;
}

.call__content {
  color: #F9F6E5;
}
.call__content-title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}
.call__content-text {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 40px;
  max-width: 446px;
}
.call__content-btn {
  padding: 16px 15px;
  font-size: 18px;
  line-height: 18px;
  color: #2d3a58;
  background-color: #F9F6E5;
  bottom: 40px;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .call__box {
    max-width: 695px;
  }
}
@media (min-width: 1440px) {
  .call__content {
    padding: 0 80px;
  }
  .call__box {
    max-width: 786px;
  }
}
.services {
  padding: 60px 0 60px;
  text-align: center;
}
.services__title {
  font-size: 48px;
  margin-bottom: 47px;
  color: #2d3a58;
  font-size: 48px;
}
.services__descr {
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 24px;
  color: #4A4A4A;
}
.services__text {
  font-size: 15px;
  line-height: 17px;
  color: #9B9B9B;
  margin-bottom: 40px;
}
.services__item {
  min-height: 310px;
  border: 1px solid #F9F6E5;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 18px;
}
.services__item:last-child {
  border-bottom: 1px solid #F9F6E5;
}
.services__item:hover .services__item-text,
.services__item:hover .services__item-link {
  opacity: 1;
  height: auto;
  overflow: visible;
}
.services__item:hover .services__item-img {
  margin-bottom: 14px;
}
.services__item:hover .services__item-title {
  margin-bottom: 30px;
}
.services__item:hover .services__item-inner {
  border: 4px solid #2d3a58;
  margin: 18px 0px;
  padding: 25px 40px 5px;
  min-height: 277px;
}
.services__item-inner {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.services__item-img {
  margin-bottom: 30px;
}
.services__item-title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4A4A4A;
}
.services__item-text, .services__item-link {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.services__item-text {
  margin-bottom: 17px;
}
.services__item-link {
  letter-spacing: 2;
  color: #2d3a58;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .services__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .services__title::after {
    display: none;
  }
  .services__descr {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 31px;
    padding-bottom: 38px;
    position: relative;
  }
  .services__descr::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #2d3a58;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
  }
  .services__text {
    font-size: 24px;
    line-height: 26px;
  }
  .services__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -30px;
  }
  .services__item {
    width: 50%;
  }
  .services__item:nth-child(even) {
    border-left: none;
  }
  .services__item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .services__title {
    margin-bottom: 30px;
  }
  .services__descr::after {
    margin-left: 0;
  }
  .services__text {
    margin-bottom: 27px;
  }
  .services__items {
    margin: 0 -40px;
  }
  .services__item {
    min-height: 334px;
    padding: 0 65px;
  }
  .services__item:hover {
    padding: 18px 0px;
  }
  .services__item:hover .services__item-inner {
    padding: 35px 66px 5px;
    min-height: 288px;
  }
}
@media (min-width: 1024px) {
  .services__title {
    margin-bottom: 61px;
  }
  .services__descr {
    padding-bottom: 46px;
    margin-bottom: 40px;
  }
  .services__text {
    margin-bottom: 32px;
    max-width: 608px;
    margin: 0 auto;
  }
  .services__item {
    min-height: 277px;
    padding: 0 17px;
    width: 25%;
  }
  .services__item:nth-child(2), .services__item:nth-child(6) {
    border-right: none;
  }
  .services__item:hover {
    padding: 17px 0px;
  }
  .services__item:hover .services__item-inner {
    margin: 10px 0px;
    padding: 21px 9px 5px;
    min-height: 255px;
  }
}
@media (min-width: 1440px) {
  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .services__head {
    max-width: 351px;
    margin-right: 102px;
  }
  .services__title {
    margin-top: 90 0 70px;
  }
  .services__descr {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }
  .services__items {
    margin: 0 -143px 0 0;
  }
  .services__item {
    height: 270px;
    padding: 0 17px;
    width: 230px;
  }
  .services__item-inner {
    text-align: center;
  }
  .services__item:hover {
    padding: 17px 0px;
  }
  .services__item:hover .services__item-inner {
    margin: 10px 0px;
    padding: 21px 9px 5px;
    min-height: 255px;
    text-align: center;
  }
}
.project {
  background: -webkit-gradient(linear, left top, left bottom, from(#2d3a58), to(rgba(43, 64, 116, 0)));
  background: linear-gradient(180deg, #2d3a58 0%, rgba(43, 64, 116, 0) 100%);
  padding-top: 20px;
  text-align: center;
}
.project__title {
  color: #F9F6E5;
  margin-bottom: 61px;
  color: #F9F6E5;
  font-size: 48px;
  line-height: 1.2;
}
.project__title .title::after {
  content: "";
  position: absolute;
  background-color: #F9F6E5;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.project__item-inner:hover {
  opacity: 1;
}
.project__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(249, 246, 229, 0.83);
  border-radius: 4px;
  min-height: 227px;
  margin: 12px 14px;
  position: relative;
  top: 12px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.project__item-bg-one {
  background-image: url("../images/project-one.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
}
.project__item-bg-two {
  background-image: url("../images/project-two.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
}
.project__item-bg-three {
  background-image: url("../images/project-three.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
}
.project__item-bg-four {
  background-image: url("../images/project-four.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
}
.project__item-link {
  display: block;
  padding: 20px 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2d3a58;
}
.project__item-info, .project__item-search {
  margin: 0 7px;
}

@media (min-width: 640px) {
  .project__item-inner {
    margin: 21px 24px;
    top: 21px;
    min-height: 417px;
  }
  .project__item-bg-one {
    min-height: 460px;
  }
  .project__item-bg-two {
    min-height: 460px;
  }
  .project__item-bg-three {
    min-height: 460px;
  }
  .project__item-bg-four {
    background-image: url("../images/project-four.png");
    min-height: 460px;
  }
  .project__item-link {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (min-width: 768px) {
  .project__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .project__item-inner {
    margin: 12px 14px;
    min-height: 256px;
    top: 12px;
  }
  .project__item-bg-one {
    min-height: 282px;
    width: 317px;
  }
  .project__item-bg-two {
    min-height: 282px;
    width: 317px;
  }
  .project__item-bg-three {
    min-height: 282px;
    width: 317px;
  }
  .project__item-bg-four {
    min-height: 282px;
    width: 317px;
  }
  .project__item-link {
    padding: 30px 0;
  }
}
@media (min-width: 1024px) {
  .project__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project__item-bg-one {
    margin: 0 12px;
  }
  .project__item-bg-two {
    margin: 0 12px;
  }
  .project__item-bg-three {
    margin: 0 12px;
  }
  .project__item-bg-four {
    margin: 0 12px;
  }
}
@media (min-width: 1440px) {
  .project__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .project__item-bg-one {
    margin: 0;
    max-width: 300px;
  }
  .project__item-bg-two {
    margin: 0;
    max-width: 300px;
  }
  .project__item-bg-three {
    margin: 0;
    max-width: 300px;
  }
  .project__item-bg-four {
    margin: 0;
    max-width: 300px;
  }
}
.team {
  padding: 60px 0 60px;
  text-align: center;
}
.team__img {
  margin-bottom: 40px;
  border-radius: 4px;
}
.team__title {
  margin-bottom: 23px;
  color: #4A4A4A;
  font-size: 48px;
  line-height: 1.2;
}
.team__text {
  color: #9B9B9B;
  margin-bottom: 40px;
}
.team__btn {
  padding: 21px 26px;
  background-color: #2d3a58;
  font-size: 20px;
  line-height: 18px;
  color: #F9F6E5;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
}
.team__btn:hover {
  cursor: pointer;
}

@media (min-width: 640px) {
  .team__img {
    margin-bottom: 40px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__text {
    margin-bottom: 56px;
  }
}
@media (min-width: 768px) {
  .team {
    text-align: left;
  }
  .team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 40px;
  }
  .team__title {
    font-size: 36px;
    line-height: 38px;
    margin: 0;
  }
  .team__title::after {
    margin-left: 0;
    width: 88px;
    height: 8px;
  }
  .team__text {
    margin-bottom: 21px;
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.2;
  }
}
@media (min-width: 1024px) {
  .team {
    text-align: left;
  }
  .team__title {
    margin-top: 10px;
    font-size: 48px;
    line-height: 56px;
  }
  .team__text {
    margin-bottom: 19px;
    margin-top: 19px;
    line-height: 22px;
    width: 494px;
  }
}
@media (min-width: 1440px) {
  .team__title {
    margin-bottom: 61px;
  }
  .team__title::after {
    margin-left: 0;
    width: 113px;
    height: 8px;
  }
  .team__text {
    margin-bottom: 40px;
    margin-top: 39px;
    width: 553px;
  }
}
.news {
  padding-bottom: 60px;
  text-align: center;
}
.news__items {
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.news__title {
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 1.2;
  padding-bottom: 20px;
}
.news__title::after {
  width: 50px;
  height: 8px;
}
.news__item {
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 21px;
}
.news__item::before {
  content: "";
  background-image: url(../images/news-button.svg);
  position: absolute;
  width: 29px;
  height: 27px;
  display: block;
  left: 118px;
  top: 115px;
  background-repeat: no-repeat;
}
.news__item-text {
  background-color: #F9F6E5;
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #4A4A4A;
}
.news__item-img {
  border-radius: 8px;
}

@media (min-width: 320px) {
  .news__item {
    margin: 0 auto;
  }
}
@media (min-width: 640px) {
  .news__title {
    font-size: 48px;
    line-height: 38px;
    margin-bottom: 60px;
  }
  .news__title::after {
    width: 100px;
    height: 8px;
  }
  .news__item::before {
    content: "";
    background-image: url(../images/news-button.svg);
    position: absolute;
    width: 29px;
    height: 27px;
    display: block;
    left: 117px;
    left: 117px;
    bottom: 249px;
    background-repeat: no-repeat;
  }
  .news__item:hover .item__bg {
    border: 10px solid #2d3a58;
  }
  .news__item-img {
    border-radius: 4px;
  }
  .news__item-text {
    background-color: #F9F6E5;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #4A4A4A;
    max-width: 270px;
  }
  .news__item .one {
    width: 270px;
    height: 444px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .news__item .two {
    width: 268px;
    height: 342px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .news__item .three {
    width: 268px;
    height: 342px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .news__item .four {
    width: 270px;
    height: 210px;
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .news__item .five {
    width: 270px;
    height: 197px;
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .news__item .six {
    width: 270px;
    height: 342px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-transform: translateY(-46px);
        -ms-transform: translateY(-46px);
            transform: translateY(-46px);
  }
  .news__item .seven {
    width: 270px;
    height: 218px;
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .news__item .eight {
    width: 268px;
    height: 436px;
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
}
@media (min-width: 768px) {
  .news__title {
    margin-bottom: 50px;
    padding-bottom: 30px;
    font-size: 36px;
    line-height: 38px;
  }
}
@media (min-width: 1024px) {
  .news__title {
    margin-bottom: 61px;
    font-size: 48px;
    line-height: 56px;
  }
  .news img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .news__title {
    padding-bottom: 30px;
  }
}
.mobile-nav-button__icon {
  display: block;
  position: relative;
  width: 54px;
  height: 5px;
  background-color: #2d3a58;
}

.mobile-nav-button__icon::before {
  left: 0;
  top: -10px;
}

.menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0;
}

.mobile-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-nav-list {
  font-size: 57px;
}

.mobile-nav-list ul li {
  margin-right: 16px;
}

.mobile-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.mobile-login > * + * {
  margin-left: 30px;
}

.mobile-nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-nav-button__icon {
  display: block;
  position: relative;
  width: 54px;
  height: 5px;
  background-color: #F9F6E5;
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 5px;
  background-color: #F9F6E5;
  /* Трансформация при закрывании */
  -webkit-transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
  transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
}

.mobile-nav-button__icon::before {
  left: 0;
  top: -10px;
}

.mobile-nav-button__icon::after {
  left: 0;
  top: 10px;
}

.mobile-nav-button__icon.active {
  background-color: transparent;
}

.mobile-nav-button__icon.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  /* Трансформация при открывании */
  -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  /* Трансформация при открывании */
  -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
}

.mobile-nav-list {
  text-align: center;
  margin: 0 auto;
}

.mobile-nav {
  display: none;
  background-color: #2d3a58;
  height: 300px;
}

.menu__list-link {
  line-height: 2.3;
  font-size: 24px;
  color: #F9F6E5;
}

.phone {
  font-size: 34px;
}

.mobile-nav-button {
  /* Reset for button */
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  position: relative;
  z-index: 999;
  width: 40px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  padding-bottom: 60px;
  text-align: center;
}
.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider__img {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__descr {
  color: #4A4A4A;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 20px;
}
.slider__descr span {
  color: #2d3a58;
}
.slider__author {
  font-size: 20px;
  line-height: 23px;
  color: #4A4A4A;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -49px;
  left: 0;
  right: 0;
  cursor: pointer;
}
.slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476e4d;
}
.slider button {
  font-size: 0;
  border: none;
  background-color: #2d3a58;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}
.slider .slick-arrow {
  display: none !important;
}

@media (min-width: 640px) {
  .slider__descr {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 40px;
  }
  .slider .slick-arrow {
    display: none;
  }
}
@media (min-width: 768px) {
  .slider .slick-arrow {
    display: none;
  }
}
@media (min-width: 1024px) {
  .slider__img {
    margin-bottom: 44px;
  }
  .slider__descr {
    max-width: 777px;
    line-height: 54px;
    margin: 0 auto;
  }
  .slider .slick-arrow {
    opacity: 0;
  }
}
@media (min-width: 1440px) {
  .slider__descr {
    max-width: 1024px;
    line-height: 38px;
    margin-bottom: 44px;
  }
  .slider .slick-arrow {
    display: none;
  }
}
/* footer */
.footer {
  margin-top: 60px;
  text-align: center;
  position: relative;
}
.footer__logo {
  background-color: #2d3a58;
  width: 230px;
  height: 60px;
  padding: 5px 74px;
  margin: 0 auto;
}
.footer__bottom {
  background-color: #2d3a58;
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom-text {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #F9F6E5;
  margin-bottom: 43px;
}
.footer__social-list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__social-item {
  margin-bottom: 6px;
}
.footer__social-item:hover {
  background-color: blue;
}
.footer__contacts-item {
  margin-bottom: 40px;
  color: #F9F6E5;
}
.footer__contacts-item:nth-child(4) {
  margin: 0;
}
.footer__contacts-item a {
  color: #F9F6E5;
  line-height: 2.2;
  font-size: 16px;
  display: inline-block;
}
.footer__contacts-item:hover {
  color: #9B9B9B;
}

.item__menu {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #F9F6E5;
  margin-bottom: 16px;
}

.footer__arrows {
  background-color: #F9F6E5;
  position: absolute;
  background: #F9F6E5;
  height: 92px;
  z-index: 9;
  bottom: -58px;
  left: 0;
  right: 0;
}
.footer__arrows-btn {
  padding: 56px 20px 62px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
}
.footer__arrows-btn a {
  color: #4A4A4A;
}

@media (min-width: 640px) {
  .footer__bottom-text {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 40px;
    text-align: left;
  }
  .footer__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 560px;
    border: 1px solid #7ebf84;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 68px 16px;
    border-left: none;
    border-right: none;
    position: relative;
    margin-bottom: 40px;
  }
  .footer__social-item::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 63px;
    background-color: #7ebf84;
    margin-left: 66px;
  }
  .footer__social-item:last-child::after {
    width: 0;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    gap: 16px;
  }
  .footer__contacts-item .item__menu {
    margin-bottom: 14px;
  }
  .footer__arrows-btn {
    padding: 28px 17px 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .footer__arrows .arrow {
    margin: 4px 26px 0px 24px;
  }
}
@media (min-width: 768px) {
  .footer__bottom-text {
    font-size: 36px;
    line-height: 32px;
    max-width: 690px;
  }
  .footer__social-list {
    width: 690px;
    padding: 22px 84px 19px;
    margin-bottom: 69px;
  }
  .footer__social-item::after {
    height: 70px;
  }
  .footer__contacts-item .item__menu {
    margin-bottom: 14px;
  }
}
@media (min-width: 1024px) {
  .footer__bottom-text {
    max-width: 751px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 47px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer__social-list {
    width: 939px;
    padding: 23px 115px 17px;
    margin-bottom: 77px;
  }
  .footer__social-item::after {
    height: 70px;
  }
  .footer__contacts {
    gap: 83px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer__contacts-item .item__menu {
    margin-bottom: 14px;
  }
}
@media (min-width: 1440px) {
  .footer__bottom {
    padding: 133px 0 0;
    margin: 0 -100px;
  }
  .footer__bottom-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer__social-list {
    width: 1141px;
    padding: 26px 140px 17px;
    margin-bottom: 77px;
  }
  .footer__social-item::after {
    height: 70px;
    margin-left: 114px;
  }
  .footer__contacts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer__contacts-item .item__menu {
    margin-bottom: 14px;
  }
}